/*Flex 布局*/
.flex_1{display: flex; flex: 1;}
.flex_row{display: flex; flex-direction: row;}
.flex_column{display: flex; flex-direction: column}
.flex_row_center{justify-content: center}
.flex_column_center{align-items: center;}
.flex_center{justify-content: center;align-items: center;}
.self_flex_start{align-self: flex-start;}
.self_flex_end{align-self: flex-end;}

body{ background: #F7F8FA; color: #333;}
.box-des{
  margin: 0.5rem;
  border:1px solid #000000;/*no*/
}
i,em{ font-style: normal;}
ul,ol,li{list-style:none;}
input{outline: none;}
img{ width: 100%;height:auto;}
table{border-collapse:collapse;border-spacing:0;}
.rel{ position: relative;}
.abs{ position: absolute;}
.fixed{ position: fixed}
.fl{ float:left;}
.fr{ float:right;}
.clearfix {  *zoom: 1;  }
.clearfix:before, .clearfix:after {  display: table;  line-height: 0;  content: ""; }
.clearfix:after {  clear: both;  }
.text_line{word-break: break-all;word-wrap:break-word;}
.tc{ text-align: center;}
.tl{ text-align: left;}
.tr{ text-align: right;}
.ell{ overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.scroll_hide_header_box{ position: absolute; left: 0; top:46px; right:0; bottom:0;}
.scroll_show_header_box{ position: absolute; left: 0; top:0; right: 0; bottom: 0; }
.content_box{ left: 0;top:0;right:0;bottom: 0; overflow-x:hidden; overflow-y: auto;  -webkit-overflow-scrolling: touch;overflow-scrolling: touch;}
.btn_box{ padding:0 15px}
.btn_box .custom-primary{
  background-image: linear-gradient(-179deg, #4C83FF 0%, #463FFF 100%);
  box-shadow: 0 10px 15px #CFD8FF;border-radius: 0.5rem;
  font-size: 0.34rem!important; padding:0.075rem 0;
}
.btn_box .custom-primary-disabled{
  background: #9AB7FF;
  box-shadow: 0 10px 15px #CFD8FF;border-radius: 0.5rem;
  font-size: 0.34rem!important; padding:0.075rem 0
}
.btn_box .custom-primary:active,.btn_box .custom-primary-disabled {background: #9ab7ff!important;}
.btn_box .weui-btn_loading.weui-btn_primary.custom-primary{ background: #9ab7ff!important; color: #fff!important;}
.btn_box .weui-btn_disabled.weui-btn_primary{ background: #9ab7ff!important; color: #fff!important;}
.btn_box .weui-btn:after{border:0!important;}

/**字体通用颜色**/
.c_fff{color:#fff;}
.c_000{color:#000;}
.c_aaa{color:#aaa;}
.c_333{color:#333;}
.c_666{color:#666;}
.c_999{color:#999;}
.c_ccc{color:#ccc;}
.c_gray{color:#9495AB;}
.c_grays{color:#BCBDD0;}
.c_white{color:#fff;}
.c_red{color:#ff5256;}
.c_blue{color:#4c83ff}
.c_yellow{color:#FE8B29}
.c_gree{color:#26dc44}
.c_orange{color:#ff4e1f}
.c_commonRed{color:#ad1c1f;}
.c_divider{color:#979899}
.c_transparent{color: transparent;}

/**背景通用颜色**/
.bg_white{background:#fff;}
.bg_navTitle{background:#f9f9f9; overflow: hidden;}
.bg_red{background:#ff5256;}
.bg_gray{background:rgba(0,0,0,0.1);}
.bg_blue{background:#52a7ff}
.bg_transparent{background: transparent;}

/**字体加粗**/
.fw_b{font-weight: bold;}

/**文本缩进2个字**/
.txtIndent{text-indent:2em;}

/**字体大小**/
.fs12{font-size:0.12rem;}
.fs14{font-size:0.14rem;}
.fs16{font-size:0.16rem;}
.fs18{font-size:0.18rem;}
.fs20{font-size:0.2rem;}
.fs22{font-size:0.22rem;}
.fs24{font-size:0.24rem;}
.fs26{font-size:0.26rem;}
.fs28{font-size:0.28rem;}
.fs30{font-size:0.30rem;}
.fs32{font-size:0.32rem;}
.fs34{font-size:0.34rem;}
.fs36{font-size:0.36rem;}
.fs38{font-size:0.38rem;}
.fs40{font-size:0.4rem;}
.fs42{font-size:0.42rem;}
.fs48{font-size:0.48rem;}
.fs56{font-size:0.56rem;}
.fs66{font-size:0.66rem;}
.fs96{font-size:0.96rem;}

/*****间距padding*****/
.pt0{padding-top:0rem;}
.pl5{padding-left:0.05rem;}
.pr5{padding-right:0.05rem;}
.pt5{padding-top:0.05rem;}
.pb5{padding-bottom:0.05rem;}
.pr8{padding-right:0.08rem;}
.pt8{padding-top:0.08rem;}
.pb8{padding-bottom:0.08rem;}
.pt10{padding-top:0.1rem;}
.pb10{padding-bottom:0.1rem;}
.pt15{padding-top:0.15rem;}
.pb15{padding-bottom:0.15rem;}
.pt20{padding-top:0.2rem;}
.pb20{padding-bottom:0.2rem;}
.pt30{padding-top:0.3rem;}
.pb30{padding-bottom:0.3rem;}
.pl15{padding-left:0.15rem;}
.pr15{padding-right:0.15rem;}
.pl20{padding-left:0.2rem;}
.pl25{padding-left:0.25rem;}
.pl30{padding-left:0.30rem;}
.pl35{padding-left:0.35rem;}
.pl50{ padding-left:0.50rem;}
.pr35{padding-right:0.35rem;}

/*****间距margin*****/
.m15{margin-left:0.05rem;}
.mr5{margin-right:0.05rem;}
.mt5{margin-top:0.05rem;}
.mt8{margin-top:0.08rem;}
.mr10{margin-right:0.1rem;}
.mt10{margin-top:0.1rem;}
.mb10{margin-bottom:0.1rem;}
.mt15{margin-top:0.15rem;}
.mb15{margin-bottom:0.15rem;}
.ml10{margin-left:0.1rem;}
.ml15{margin-left:0.15rem;}
.mr15{margin-right:0.15rem;}
.mr20{margin-right:0.2rem;}
.mr45{margin-right:0.45rem;}
.ml35{margin-left:0.35rem;}
.mr35{margin-right:0.35rem;}
.mt20{margin-top:0.2rem;}
.mb20{margin-bottom:0.2rem;}
.mt25{margin-top:0.25rem;}
.mb25{margin-bottom:0.25rem;}
.mt30{margin-top:0.3rem;}
.mt35{margin-top:0.35rem;}
.mt45{margin-top:0.45rem;}
.mt50{margin-top:0.5rem;}
.mb50{margin-bottom:0.5rem;}
.mt65{margin-top:0.65rem;}
.ml75{margin-left:0.75rem;}
.mt85{margin-top:0.85rem;}
.mt90{margin-top:0.9rem;}
.mt100{margin-top:1rem;}
.mb100{margin-bottom:1rem;}

/*****数字圆角*****/
.circleModel{color:white;border-radius: 12px; padding:0.01rem 0.05rem 0 0.05rem;}

/*****标签圆角*****/
.tagCircle{color:white;border-radius: 0.02rem; padding:0.01rem 0.02rem 0 0.02rem;}

/*****按钮圆角*****/
.buttonCircle{color:white;border-radius: 0.12rem; padding:0.03rem 0.12rem 0.02rem 0.12rem;}

/*****边线border*****/
.dottedBorderTop{border-top:dotted #eeeeee 0.01rem;}
.dottedBorderbottom{border-bottom:dotted #eeeeee 0.01rem;}
.solidBorderTop{border-top:solid #eeeeee 0.01rem;}
.solidBorderBottom{border-bottom:solid #eeeeee 0.01rem;}
.solidBorderRight{border-right:solid #eeeeee 0.01rem;}

/*****间隔线*****/
.spaceH{background: #efeff4; height:0.2rem;}

/*****钱样式*****/
.money:before{content: "￥" }

@-webkit-keyframes circle-animation {
  0%{-webkit-transform : rotate(0deg);}
  100%{-webkit-transform : rotate(360deg);}
}
@keyframes circle-animation {
  0%{transform: rotate(0)}
  100%{transform: rotate(360deg)}
}
.circle-animation{
  -webkit-animation: circle-animation 1.25s linear 0s infinite;
  animation: circle-animation 1.25s linear 0s infinite;
}




